body {
  background-image: url(../../assets/4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer {
  background-color: rgb(189, 188, 188) !important;
  // background-color: gray;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    a {
      font-size: 1rem;
      display: block;
      width: 100%;
      border: black 2px solid;
      margin-bottom: 0.2rem;
      width: 70% !important;
    }
  }
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
}

@mixin sticky {
  position: sticky;
  top: 0;
  min-height: 15vh;
}
.leftSide {
  height: 100vh;
}
.stickyPosition {
  // position: sticky;
  // top: 0;
  @include sticky;
  z-index: 2;
}
.notHomtePageSticky {
  @include sticky;
  background-color: white;
}
.notHomeNav {
  height: 15vh;
  color: black;
}
.relativePsotion {
  position: relative;
}
.theNav {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.theDropDown {
  display: none;
}
footer {
  background-color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 40vh;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 100%;
    a {
      text-decoration: none;
      text-align: center;
      font-size: 1rem;
      padding: 0.5rem;
      color: black;
      width: 30vw;
      border-style: groove;
      background-color: white;
    }
  }
  div.icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
      position: relative;
      top: 0.5rem;
      right: 20vh;

      i {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}
.FormArea {
  height: 100%;
}
@media screen and (max-width: 576px) {
  .theDropDown {
    display: block;
  }
  .theNavSmall {
    display: none !important;
  }
  .smallWidthColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .theNavInDrop {
    display: block;
  }
  .stickyPosition {
    background-color: white;
  }
  .theNav {
    color: black !important;
  }
  .nav-link {
    color: black;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}
@media screen and (max-width: 576px) {
  .leftSide {
    height: 50vh !important;
  }
}
