body main#boomain {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body main#boomain section.lefft {
  flex: 1 1 300px;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body main#boomain section.lefft input {
  overflow: auto;
  word-wrap: break-all;
}
body main#boomain section.lefft div.elbum {
  height: 50vh;
  padding: 1rem;
  margin-top: 2rem;
}
body main#boomain section.lefft div.elbum figure {
  border: white 2px solid;
  width: -moz-fit-content;
  width: fit-content;
  animation: pulse 2.5s infinite;
}
body main#boomain section.lefft div.elbum figure img#boombapp {
  height: 250px;
  width: 250px;
  border-bottom: white 2px solid;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 0;
}
body main#boomain section.lefft div.elbum figure figcaption {
  color: white;
  text-align: center;
  padding: 0.5rem unset;
  background-color: gray;
}
body main#boomain section.lefft div#rotate {
  width: 100%;
}
body main#boomain section.lefft div#rotate a {
  color: white;
  animation: swing;
  animation-duration: 2s;
}
body main#boomain section.lefft div#rotate a:hover {
  animation: bounce 0.8s;
}
body main#boomain section.lefft div#rotate figure {
  border: white 2px solid;
  width: -moz-fit-content;
  width: fit-content;
}
body main#boomain section.lefft div#rotate figure img {
  height: 125px;
  width: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-bottom: white 2px solid;
}
body main#boomain section.lefft div#rotate figure figcaption {
  text-align: center;
  padding: 0.5rem unset;
  background-color: gray;
}
body main#boomain section.right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(36, 35, 35, 0.4);
  flex: 3 1 500px;
}
body main#boomain section.right div.track {
  display: flex;
  height: 183px;
  justify-content: start;
  border: 2px solid white;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.5);
  margin-top: 2rem;
}
body main#boomain section.right div.track img.boom {
  height: 178.4px;
  width: 178.4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-right: 3px white solid;
}
body main#boomain section.right div.track div.music {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body main#boomain section.right div.track div.music h2 {
  color: gray;
  padding: 1.5rem 1rem;
  background-color: black;
  width: 100%;
  text-align: center;
}
body main#boomain section.right div.track div.music audio {
  width: 100% !important;
  color: white !important;
}
body main#boomain section.right div.track div.music audio::-moz-audio-player-bar {
  background-color: white !important;
}
body main#boomain section.right div.track div.music div.author {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
body main#boomain section.right div.track div.music div.author p {
  display: flex;
  justify-content: center;
}
body main#boomain section.right div.track div.music div.author p span {
  display: block;
}
body main#boomain section.right div.track div.music div.author p a {
  display: block;
  margin-top: 0.2rem;
}
body main#boomain section.right div.track div.music div.author p a img {
  display: block;
  height: 20px;
  width: 20px;
  color: white;
}

@media screen and (max-width: 594px) {
  section.lefft {
    padding-bottom: 1rem;
  }
  section.lefft div.elbum {
    height: 35vh !important;
  }
  section.right {
    width: 100% !important;
  }
  section.right div.track {
    height: 16vh !important;
    width: 100% !important;
  }
  section.right div.track img.boom {
    height: 100% !important;
  }
  section.right div.track div.music {
    width: 98%;
    width: 100%;
  }
  section.right div.track div.music h2 {
    font-size: 0.8rem;
    width: 100% !important;
  }
  section.right div.track div.music audio {
    width: 100%;
  }
  section.right div.track div.music div.author {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.right div.track div.music div.author p {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=boombastyle.css.map */