* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  main {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    section.left {
      flex: 1 1 300px;
      background-color: rgb(128, 128, 128, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      div.elbum {
        // border: 2px white solid;
        height: 50vh;
        padding: 1rem;
        margin-top: 2rem;
        figure {
          border: white 2px solid;

          img#lofiii {
            height: 250px;
            width: 250px;
            border-bottom: white 2px solid;
            object-fit: cover;
            object-position: center;
            margin-bottom: 0;
          }
          figcaption {
            color: white;

            text-align: center;
            padding: 0.5rem unset;

            background-color: gray;
          }
        }
      }
      form {
        input {
          font-size: 1rem;
          text-align: center;
        }
        button {
          img {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            pointer-events: none;
          }
        }
      }
    }
    section.right {
      // border: gray 4px solid;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 1.5rem;
      background-color: rgba(36, 35, 35, 0.4);

      flex: 3 1 500px;
      div.track {
        display: flex;

        justify-content: start;
        border: 2px solid white;
        width: 80%;
        background-color: rgb(128, 128, 128, 0.5);
        margin-top: 2rem;
        img#lof {
          height: 150px;
          width: 150px;
          object-fit: cover;
          object-position: center;
          border-right: 3px white solid;
        }
        div.music {
          display: flex;
          flex-direction: column;

          height: 100%;
          width: 100%;

          h2 {
            color: gray;
            padding: 1.5rem 1rem;
            background-color: black;
            width: 100%;
            text-align: center;
          }
          div.author {
            width: 100%;
            p {
              display: flex;
              justify-content: center;
              span {
                display: block;
              }
              a {
                display: block;
                margin-top: 0.2rem;
                img {
                  display: block;
                  height: 20px;
                  width: 20px;
                  color: white;
                }
              }
            }

            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
          }
        }
      }
    }
  }
}
@keyframes showUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
