@charset "UTF-8";
body section.orderSec {
  min-height: 180vh;
}
body section.orderSec form.orderformm {
  animation: bounceInUp;
  animation-duration: 2s;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 70%;
  position: relative;
  bottom: 35vh;
  --font: 1.5rem;
}
body section.orderSec form.orderformm div {
  margin: 0.3rem;
}
body section.orderSec form.orderformm div label {
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
}
body section.orderSec form.orderformm div input {
  font-size: 1.5rem;
  color: gray;
  font-weight: bold;
}
body section.orderSec form.orderformm div input:valid {
  background-color: gray;
  color: white;
}
body section.orderSec form.orderformm div input:valid + span::after {
  content: "✔";
  color: white;
  margin-left: 1rem;
}
body section.orderSec form.orderformm div input:invalid {
  background-color: rgb(189, 188, 188);
  color: white;
}
body section.orderSec form.orderformm div input:invalid + span::after {
  content: "×";
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}
body section.orderSec form.orderformm fieldset {
  margin-top: 2rem;
  border: 1.5px solid white;
  padding: 1.5rem 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.orderSec form.orderformm fieldset legend {
  font-size: var(--font);
  color: white;
  text-align: center;
}
body section.orderSec form.orderformm fieldset .choosesong label {
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: center;
}
body section.orderSec form.orderformm fieldset .choosesong input[type=checkbox] {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
body section.orderSec form.orderformm input[type=button] {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 594px) {
  body {
    background-image: none;
    background-color: gray;
  }
  body section.orderSec {
    min-height: 40%;
    justify-content: flex-start;
  }
  body section.orderSec form.orderformm {
    width: 100%;
    position: unset;
  }
  body section.orderSec form.orderformm div {
    width: 80%;
    display: flex;
  }
  body section.orderSec form.orderformm div label,
  body section.orderSec form.orderformm div input {
    width: 100%;
    font-size: 1rem;
  }
  body section.orderSec form.orderformm div input {
    width: 90%;
  }
  body section.orderSec form.orderformm div label {
    width: 3rem;
  }
  body section.orderSec form.orderformm fieldset {
    width: 92%;
    height: 40vh;
    padding: unset;
  }
  body section.orderSec form.orderformm fieldset legend {
    font-size: 1rem;
  }
  body section.orderSec form.orderformm fieldset div.choosesong {
    padding-left: 1rem;
    width: 100%;
  }
  body section.orderSec form.orderformm fieldset div.choosesong span {
    width: 95%;
  }
  body section.orderSec form.orderformm fieldset div.choosesong span input {
    width: unset;
  }
  body section.orderSec form.orderformm fieldset div.choosesong span label {
    width: 91%;
    font-size: 1rem;
    text-align: unset;
    margin-right: unset;
  }
  body section.orderSec form.orderformm input[type=button] {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=ordersty.css.map */