@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body section div.introduce {
  width: 50vw;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section div.introduce h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1.5rem;
}
body section div.introduce p {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
body section div.teacher {
  width: 50vw;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section div.teacher h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
}
body section div.teacher p {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
body section iframe {
  margin-bottom: 3rem;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  min-height: 40vh;
  /*audio{
          visibility: hidden;
      }*/
}
body footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 100%;
}
body footer ul a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: black;
  width: 30vw;
  border-style: groove;
  background-color: white;
}
body footer div.icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
body footer div.icon a {
  position: relative;
  top: 0.5rem;
  right: 20vh;
}
body footer div.icon a i {
  font-size: 1.5rem;
  color: white;
}

/*@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
    font-family: 'Bakbak One', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif SC', serif;
}*/
* {
  font-family: "Noto Sans JP", sans-serif;
}

@keyframes lights {
  0% {
    background-color: rgba(29, 29, 29, 0.5);
  }
  25% {
    background-color: rgba(185, 175, 175, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(185, 175, 175, 0.5);
  }
}
@media screen and (max-width: 594px) {
  body {
    background-image: none;
    background-color: gray;
  }
  body header {
    min-height: 20vh;
  }
  body header h1 {
    font-size: 2rem;
  }
  body nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: rgb(189, 188, 188);
  }
  body nav ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100%;
  }
  body nav ul a {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
    background-color: white;
    color: rgb(189, 188, 188);
  }
  body section div.filter {
    display: none;
  }
}
section.thefirstsection h1 {
  color: white;
  margin-top: 2.5rem;
}

div.carouselExampleControls {
  animation: bounceInUp;
  animation-duration: 2s;
  height: 70vh;
  margin-top: 2rem;
}
div.carouselExampleControls div.carousel-item {
  height: 100%;
}
div.carouselExampleControls div.carousel-inner {
  height: 100%;
}
div.carouselExampleControls div.carousel-inner img.thepic {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

section#opp {
  display: flex;
  min-height: 73vh;
  justify-content: flex-start;
}
section#opp h1 {
  color: white;
  margin-top: 1rem;
}

#theul {
  padding-left: 0;
}

.section2 {
  min-height: 70vh;
  margin-top: 6rem;
}
.section2 h1 {
  color: white;
  margin-bottom: 1rem;
}
.section2 div.section2-1 {
  display: flex;
  justify-content: center;
  width: 50%;
}
.section2 div.section2-1 figure {
  border: white 2px solid;
  margin-right: 1rem;
  animation: swing;
  animation-duration: 2s;
}
.section2 div.section2-1 figure:hover {
  animation: bounce 0.8s;
}
.section2 div.section2-1 figure img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-bottom: white 2px solid;
}
.section2 div.section2-1 figure figcaption {
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 200px;
}
.section2 div.section2-1 figure figcaption:hover {
  cursor: pointer;
}
.section2 div.section2-1 figure figcaption a {
  display: block;
  width: 200px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 594px) {
  body main section.thefirstsection {
    min-height: 22vh !important;
  }
  body main section.thefirstsection div.carouselExampleControls {
    height: 23vh;
    width: 90% !important;
  }
  body main section.thefirstsection div.carouselExampleControls div.carousel-inner {
    height: 100%;
    width: 100%;
  }
  body main section.thefirstsection div.carouselExampleControls div.carousel-inner div.carousel-inner {
    width: 100%;
  }
  body main section.thefirstsection div.carouselExampleControls div.carousel-inner div.carousel-inner img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  body main div.section2 {
    background-color: gray !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-color: rgb(189, 188, 188);
  }
  body main div.section2 h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  body main div.section2 div.section2-1 {
    flex-direction: column;
    align-items: center;
  }
  body main div.section2 div.section2-1 figure {
    animation: swing;
    animation-duration: 2s;
  }
  body main div.section2 div.section2-1 figure:hover {
    animation: bounce 0.8s !important;
  }
}/*# sourceMappingURL=style4.css.map */