@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/8.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body header {
  min-height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
body header h1 {
  color: white;
  font-size: 3.5rem;
}
body nav {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 10vh;
}
body nav ul {
  animation: backInRight 0.5s;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  margin-bottom: 0 !important;
  padding-left: unset !important;
}
body nav ul a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
  margin: 1rem;
  background-color: gray;
}
body nav ul a:hover {
  background-color: black;
  cursor: pointer;
}
body section.kobe {
  min-height: 70vh;
}
body section {
  min-height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}
body section div.filter {
  background-color: rgba(128, 128, 128, 0.5);
  min-height: 180vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  animation: lights 10s linear infinite;
}
body section iframe {
  border: gray 4px solid !important;
}
body section div.introduce {
  width: 50vw;
  animation: swing;
  animation-duration: 2s;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section div.introduce:hover {
  animation: bounce 0.8s;
}
body section div.introduce h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1.5rem;
}
body section div.introduce p {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
body section div.teacher {
  width: 50vw;
  animation: swing;
  animation-duration: 2s;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section div.teacher:hover {
  animation: bounce 0.8s;
}
body section div.teacher h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
}
body section div.teacher p {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
body section iframe {
  margin-bottom: 3rem;
}
body section#userdatsec {
  min-height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
}
body section#userdatsec div.filter {
  background-color: rgba(128, 128, 128, 0.5);
  min-height: 180vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  animation: lights 10s linear infinite;
}
body section#userdatsec iframe {
  border: gray 4px solid !important;
}
body section#userdatsec div.introduce {
  width: 50vw;
  animation: swing;
  animation-duration: 2s;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section#userdatsec div.introduce:hover {
  animation: bounce 0.8s;
}
body section#userdatsec div.introduce h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1.5rem;
}
body section#userdatsec div.introduce p {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
body section#userdatsec div.teacher {
  width: 50vw;
  animation: swing;
  animation-duration: 2s;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section#userdatsec div.teacher:hover {
  animation: bounce 0.8s;
}
body section#userdatsec div.teacher h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
}
body section#userdatsec div.teacher p {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
body section#userdatsec iframe {
  margin-bottom: 3rem;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  min-height: 40vh;
  /*audio{
          visibility: hidden;
      }*/
}
body footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 100%;
  animation-duration: 2s;
}
body footer ul a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: black;
  width: 30vw;
  border-style: groove;
  background-color: white;
  border: black 2px solid;
  margin-bottom: 0.2rem;
}
body footer div.icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
body footer div.icon a {
  position: relative;
  top: 0.5rem;
  right: 20vh;
}
body footer div.icon a .toup {
  font-size: 1.5rem;
  color: white;
}

table.userdata {
  color: white;
  width: 90%;
  min-height: 300px;
  background-color: gray;
  opacity: 0.8;
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
  animation: pulse 2.5s infinite;
}
table.userdata thead tr th {
  font-size: 2rem;
}
table.userdata tbody tr td {
  font-size: 1.3rem;
}

input[type=button] {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

/*@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
    font-family: 'Bakbak One', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif SC', serif;
}*/
* {
  font-family: "Noto Sans JP", sans-serif;
}

@keyframes lights {
  0% {
    background-color: rgba(29, 29, 29, 0.5);
  }
  25% {
    background-color: rgba(185, 175, 175, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(185, 175, 175, 0.5);
  }
}
@media screen and (max-width: 594px) {
  section.kobe {
    min-height: 70vh !important;
  }
  section.kobe h1 {
    font-size: 1rem;
  }
  section.kobe table.userdata {
    width: 90%;
  }
  section.kobe table.userdata table,
  section.kobe table.userdata th,
  section.kobe table.userdata td {
    border-collapse: collapse;
    border: 2px solid white;
  }
  section.kobe table.userdata thead,
  section.kobe table.userdata th,
  section.kobe table.userdata td {
    height: 8px !important;
  }
  section.kobe table.userdata th,
  section.kobe table.userdata td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  section.kobe table.userdata thead tr th {
    font-size: 0.8rem !important;
  }
  section.kobe table.userdata tbody tr td {
    font-size: 0.5rem !important;
  }
  section.kobe input[type=button] {
    font-size: 1rem;
    margin-top: 1rem;
  }
  body {
    background-image: none;
    background-color: gray;
  }
  body header {
    min-height: 20vh;
  }
  body header h1 {
    font-size: 2rem;
  }
  body nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: rgb(189, 188, 188);
  }
  body nav ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100%;
  }
  body nav ul a {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
    background-color: white;
    color: rgb(189, 188, 188);
  }
  body section {
    min-height: 40%;
    justify-content: flex-start;
  }
  body section div.filter {
    display: none;
  }
  body section div.introduce,
  body section div.teacher {
    height: 10% !important;
    width: 100% !important;
  }
  body section div.introduce h2,
  body section div.teacher h2 {
    font-size: 1.5rem !important;
  }
  body section div.introduce p,
  body section div.teacher p {
    margin-top: 1rem;
    width: 90% !important;
    font-size: 0.7rem !important;
  }
  body section iframe {
    height: 250px;
    width: 250px;
    border: 4px solid rgb(189, 188, 188) !important;
  }
  body footer {
    background-color: rgb(189, 188, 188) !important;
  }
  body footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  body footer ul a {
    font-size: 1rem;
    display: block;
    width: 100%;
    border: black 2px solid;
    margin-bottom: 0.2rem;
    width: 70% !important;
  }
}/*# sourceMappingURL=styles.css.map */